*.pyc
np_dump
.coverage
.lock
bench/wl_up/*.json
bench/wl_up/reachability.csv
bench/wl_up/rulesets/*-ruleset
bench/wl_ifi/*.json
bench/wl_i2/*.json
bench/wl_i2/i2_tfs/*.json

bench/wl_ifi/convert.sh
bench/wl_ifi/*.css
bench/wl_ifi/*.html
bench/wl_ifi/*.orig.*
bench/wl_ifi/*.csv

bench/wl_example/reachability.csv
bench/wl_example/policy.csv
bench/wl_example/*.json

bench/wl_tum/*.json
bench/wl_tum/rulesets/pgf.uni-potsdam.de-ruleset

bench/wl_generic_fw/*.json
bench/wl_generic_fw/*.csv

*.pdf
out
*.svg

*.so
*.so.bak

examples/example-ruleset
